// The grayscale theme from https://github.com/BlackrockDigital/startbootstrap-grayscale
@import "variables";
@import "mixins";

body {
  background-color: $black;
  color: $white;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba($white, .2);
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: $body-font-size;
  line-height: 1.5;
  @media(min-width: $xs-cutoff) {
    margin: 0 0 35px;
    font-size: $body-font-size + 2px;
    line-height: 1.6;
  }
}

a {
  color: $primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba($white, 0.3);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $black;

  .navbar-toggle {
    padding: 4px 6px;
    font-size: $nav-font-size;
    color: $white;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .navbar-brand {
    font-weight: 700;

    &:focus {
      outline: none;
    }
  }

  a {
    color: $white;
  }

  .nav li {
    a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;

      &:hover {
        color: rgba($white, 0.8);
        outline: none;
        background-color: transparent;
      }

      &:focus,
      &:active {
        outline: none;
        background-color: transparent;
      }
    }

    &.active {
      outline: none;

      a {
        background-color: rgba($white, 0.3);

        &:hover {
          color: $white;
        }
      }
    }
  }

  @media(min-width: $xs-cutoff) {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;

    &.top-nav-collapse {
      padding: 0;
      background: $black;
      border-bottom: 1px solid rgba($accent, 0.3);
    }
  }
}

.intro {
  @include bg-size(cover);
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: $white;

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      font-size: $title-text-font;
    }

    .intro-text {
      font-size: $title-intro-font-size;
    }
  }

  @media(min-width:$xs-cutoff) {
    height: 100%;
    padding: 0;

    .intro-body {
      .brand-heading {
        font-size: $title-text-font;
      }

      .intro-text {
        font-size: $title-intro-font-size + 4px;
      }
    }
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid $white;
  // scss-lint:disable ImportantRule
  border-radius: 100% !important;
  // scss-lint:enable ImportantRule
  font-size: 40px;
  color: $white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    color: $white;
    background: rgba($white, 0.1);
  }

  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }

  &:hover {
    i.animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 100px;
}

.projects-section {
  @include bg-size(cover);
  width: 100%;
  padding: 50px 0;
  color: $white;
  background-color: $black;
}

@media(min-width: $xs-cutoff) {
  .content-section {
    padding-top: 250px;
  }

  .projects-section {
    padding: 100px 0;
  }
}

.btn {
  @include transition(all, .3s, ease-in-out);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border-radius: 0;
}

.btn-default {
  border: 1px solid $primary;
  color: $primary;
  background-color: transparent;

  &:hover,
  &:focus {
    border: 1px solid $primary;
    outline: none;
    color: $black;
    background-color: $primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;

  @media(max-width: $md-cutoff) {
    margin-top: 15px;
  }

  @media(max-width: $xs-cutoff) {
    li {
      display: block;
      margin-bottom: 20px;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

::-moz-selection {
  text-shadow: none;
  background: rgba($white, .2);
}

::selection {
  text-shadow: none;
  background: rgba($white, .2);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
