// Coolors Exported Palette - coolors.co/1e3231-486664-7c9392-a5d1ce-bef4f2
// Palette
$jungle-green: rgb(30, 50, 49);
$deep-space: rgb(72, 102, 100);
$roman-silver: rgba(124, 147, 146, 1);
$pastel-blue: rgba(165, 209, 206, 1);
$pastel-grey: #cdcacc;
$diamond: rgba(190, 244, 242, 1);
$white: #fdfdff;
$black: #020202;

$prussian-blue: #0d324d;
$chinese-violet: #7f5a83;
$carmine-pink: #e94f37;

$primary: $roman-silver;
$secondary: $jungle-green;
$accent: $carmine-pink;
$background: $white;

$title-text-font: 'Abel', serif;
$body-text-font: 'Lato', sans-serif;

$title-font-size: 36pt;
$title-intro-font-size: 18px;
$heading-font-size: 18px;
$nav-font-size: 16px;
$body-font-size: 18px;

$sm-cutoff: 767px;