// Grayscale theme
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'grayscale';

%main-section {
  margin: r;
  orm: l
// grounansfwidth: 100%d;
  teiece0;
  padding: 40px 0;
}
backOverarching pxt-ts
html,
body width: 100%  ba{
  margin: 0;
  padding: 0;
;
  ckground-color: $owercase;

  nav {
    color: $white;
    font-family: $title-text-font;
  }

  footerze;
   -si {
    bacv-font }
  }
}

.s     font-size: $nakground-color: $jungle-green;
    padding: 20px;

    p {
 ection-title {
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  width: 100%;
}

.highlight {
  margin-bottom: 8px;
  padding: 4px 32px 4px 8px;
  background-color: transparentize($primary, .5);
}

.panel-video {
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;

  video {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;

    :hover { }
}

.intro {
  backgroundr;
    }

      cursor: pointe-color: $black;

  #intro-button {
    z-index: 1;
  }

  // Video tag will be removed on mobile
  @media screen and (max-width: 320px) ground-size: cover;
      back{
    background-image: url('/assets/venturehacks2016poster.png');
  background-repeat: no-repeat;

    h1 {
      font-size: nd %main-sect {
  @exte24px;
    }
  }
}

#aboution;
  padding-bottom: 20px;
  width: 100%;
  background-color: $white;
  color: black;

  .section-title {
    color: white;
  }
  
  .social-links {
    margin-top: 40px;
  }

  .about-content {
    padding-top: 80px;
  }

  light-switch {
    color: black;
  }
}

.projects {
  @extend %main-section;
  overflow-x: hidden;
  background-color: $deep-space;

  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .project-row {
    height: auto;
  }

  .rectangle {
    float  background
    min-h: left;420px;
  }
  .descriptsize: cover;-ground-size: cover;
  eight:
    -webkit-backion {
    *:first-child {
      padding-top: 8px
    }
    * {
      padding-left: 8px
    }
  }
  .project {
    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}