// Grayscale theme
@import "fonts";
@import "variables";
@import "mixins";
@import "grayscale";

%main-section {
  //width: 100%;
  //margin-transform:
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background;
  text-transform: lowercase;
  //width: 100%;

  nav {
    color: $white;
    font-family: $title-text-font;
  }

  footer {
    background-color: $jungle-green;
    padding: 20px;

    a:hover {
      p {
        color: lighten($black, 5);
      }
    }

    p {
      margin: 0;
      color: $white;
      font-size: $nav-font-size * .9;
    }
  }
}

.panel-video {
  display: table;
  overflow: hidden;
  position: relative;
  top: 0;

  video {
    top: 0;
    overflow: hidden;
    position: absolute;
    min-width: 100%;
    min-height: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}

.intro {
  @include bg-size(cover);
  display: table;
  width: 100%;
  height: auto;
  min-height: 80%;
  padding: 100px 0;
  text-align: center;
  color: $white;
  background-color: $black;

  .intro-body {
    display: table-cell;
    vertical-align: middle;
  }

  .btn {
    z-index: 1;
  }

  .container {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: $sm-cutoff) {
  .intro {
    background: url("/assets/venturehacks2016poster.png") no-repeat;
    background-size: cover;

    h1 {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.about {
  background-color: $white;
  color: $black;
  padding-top: 60px;
  padding-bottom: 20px;

  .section-title {
    color: $white;
  }

  .row {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .social-links {
    margin-top: 40px;
  }

  .about-content {
    padding-top: 80px;
  }

  light-switch {
    max-width: 80%;
  }

  h4 {
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 8px;
    width: 64px;
  }

  article {
    a {
      color: $black;

      &:hover {
        opacity: .7;
        color: $secondary;
      }
    }

    ul {
      list-style: none;
      width: 80%;
      margin-left: 10%;
      padding-left: 0;

      li {
        margin-bottom: 4px;
      }
    }
  }

  @media (max-width: $sm-cutoff) {
    article {
      margin-bottom: 20px;

      ul {
        margin-left: 5%;
        width: 90%;

        li {
          text-align: center;
        }
      }
    }

    .social-links a {
      margin-bottom: 8px;
    }
  }
}

.projects {
  background-color: $primary;
  overflow-x: hidden;
  padding-top: 0;
  padding-bottom: 0;

  .project-row {
    min-height: 420px;
    overflow: hidden;
    display: table;
  }

  .rectangle {
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0;
    display: table-cell;
    float: none;
  }

  .description {
    *:first-child {
      padding-top: 8px;
    }

    h3,
    p {
      padding: 0 8px;
    }

    .btn-container {
      width: 100%;
      text-align: center;

      .btn {
        margin: 16px auto;
      }
    }
  }

  .project {
    background-size: cover;

    a {
      width: 100%;
      position: absolute;
      height: 100%;
    }

    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }

    @media (max-width: $xs-cutoff) {
      order: 2;
      min-height: 420px;

      &:hover {
        opacity: 1;
        cursor: auto;
      }
    }
  }

  @media (max-width: $xs-cutoff) {
    background-color: $prussian-blue;

    .first-project {
      padding-top: 60px;
    }

    .project-row {
      display: flex;
      flex-flow: column;

      .description {
        order: 1;
      }

      .project-link {
        display: none;
      }
    }
  }
}

// Extras
.section-title {
  padding-top: 20px;
  position: absolute;
  z-index: 1;
}

.highlight {
  background-color: transparentize($primary, .5);
  margin-bottom: 8px;
  padding: 4px 32px 4px 8px;
}

.black {
  background-color: $black;
}

.white {
  background-color: $white;
  color: $black;
}

.violet {
  background-color: $prussian-blue;
}

.pink {
  background-color: $carmine-pink;

  a {
    color: lighten($black, 10);

    &:hover {
      color: $black;
    }
  }
}
