// Grayscale theme
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'grayscale';

%main-section {
  //width: 100%;
  margin-transform:}

/ckground;
   pie: 0;
  padding: 40px 0;
 $ba/ Overarchingtextces
html,
body {
  margin: 0;
  padding: 0;
  background-color: lowercase;
  //width: 100%;

  nav {
    color: $white;
    font-family: $title-text-font;
  }

  fo

    p {
 ter {
    bac    }o     fon {
      color: white;
kground-color: $jungle-green;
    padding: 20px;

    at-size: $nav-font-size * .9;
    }
  }
}

.section-title {
  position: absolute;
  z-index: 1;
  padding-top: 20px;
}

.highlight {
  margin-bottom: 8px;
  padding: 4px 32px 4px 8px;
  background-color: transparentize($primary, .5);
}

// For the grid descriptions
.black {
  background-color: $black;
}

.white {
  background-color: $white;
  color: $black;
}

.violet {
  background-color: $prussian-olor: $carmine-pink;

  a {ckground-cblue;
}

.pink {
  ba
    color: lighten($black, 10);

    &:hover {
      color: $black;
    }
  }
}

// Beginning of larger chunks
.panel-video {
   table;
  overflow  ovdisplayuto;
  : a:erflow: hiddeght: hidden;
  positposition: absolutee;

  video {
    hein;
    width: 100%;
    ion: relativ;

    &:hover  &.loading {
    }

   {
      cursor: pointer;
      min-height: 100%;
    }
  }
}

.intro {
  background-color: $black;

  .btn {
    z-index: 1;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  // Video tag will be removed on mobile
  @media screen and (max-width: $sm-cutoff) {
    background: url('/assets/venturehacks2016poster.png') no-repeat;
    background-size: cover;

    h1 {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

#about {
  @extend %main-section;
  tom: 20px;

  .sec

;
  background-color: $white;
  tion-title {
-botcolor: $black  .row {
    margin-bottom:    color: $white;
  }//width: 1margin-top: 10px;
    00%;
  padding 10px;
  }

  @media (max-width: $sm-cutoff) {
    // Each 'experience'
    article {
      margin-bottom: 20px;
    }
  }

  .social-links {
    margin-top: 40px;

    @media (max-width: $sm-cutoff) {
      a {
        margin-bottom: 8px;
      }
    }
  }

  .about-content {
    padding-top: 80px;
  }

  light-switch {
    max-width: 80%;
  }

  // Experience
  article {
    a {
      color: $black;

      &:hover {
        color: lighten($secondary, 15);
      }
    }
  }

  h4 {
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 8px;
    width: 64px;
  }

  ul {
    margin-left: 10%;
    padding-left: 0;
    width: 80%;
    list-style: none;

    li {
      margin-bottom: 4px;
    }

    @media (max-width: $sm-cutoff) {
      margin-left: 5%;
      width: 90%;

      li {
        text-align: center;
      }
    }
  }
}

.projects {
  @extend %main-section;
  overflow-x: hidden;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $deep-space;

  .project-row {
        dlow: hidd: table;
  overf 420px;

min-height:isplayen; }

  cell;
    float:  covtable-  padding.recta   display:;
    background-size:ngle {
    -er;
  over: 0;
 none;webkit-background-size: c
  }

  .description {
    *:first-child {
      padding-top: 8px;
    }

    h3, p {
      padding: 0 8px;
    }
  }

  .project {
    background-size: cover;
    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: $sm-cutoff) {
    // When projects disappear, give the title some room to breath
    background-color: $prussian-blue;

    .first-project {
      padding-top: 60px;
    }

    .project {
      display: none;
    }
  }
}